Repository LipersInSlums/dosukebe-book, changes with the owners that CODEOWNERS names for each.
All owners: @LoliGothick, @Alwe-logic, @hsjoihs, @Lugendre, @LoliGOthick, @wreulicke, @syuche

かきおわったぜ
  book/images/Apollonius.png
  book/images/Apollonius2.png
  book/images/LeftRightCircle.png
  book/images/LowerBlueCircle.png
  book/images/Tangent.png
  book/images/UpperBlueCircle.png
  book/images/YellowRotate.png
  chapters/hsjoihs/dummy.re
Owners: @LoliGothick, @hsjoihs

haaaaaaaaands
  book/catalog.yml
  book/config.yml
  book/intro.re
  chapters/alwe/dummy.re
  chapters/hsjoihs/dummy.re
  chapters/hsjoihs/hsjoihs-end.re
  chapters/hsjoihs/hsjoihs0.re
  chapters/hsjoihs/hsjoihs1.re
  chapters/hsjoihs/hsjoihs2.re
  chapters/hsjoihs/hsjoihs3.re
  chapters/hsjoihs/hsjoihs4.re
  chapters/hsjoihs/hsjoihs5.re
  chapters/hsjoihs/hsjoihs6.re
  chapters/lugendre/dummy.re
  chapters/wreulicke/dummy.re
Owners: @LoliGothick, @Alwe-logic, @hsjoihs, @Lugendre, @wreulicke

三「辺」形
  chapters/hsjoihs/hsjoihs5.re
Owners: @hsjoihs

fix
  README.md
  chapters/hsjoihs/hsjoihs1.re
  chapters/hsjoihs/hsjoihs4.re
  chapters/hsjoihs/hsjoihs5.re
  chapters/hsjoihs/hsjoihs6.re
  chapters/mitama/constexpr.re
  chapters/mitama/tmp-basics.re
  chapters/mitama/variadic-templates.re
  chapters/yuche/yuche1.re
  chapters/yuche/yuche4.re
  chapters/yuche/yuche6.re
  chapters/yuche/yuche7.re
Owners: @hsjoihs, @LoliGOthick, @syuche

Keep note of the memos before I lose them forever
  book/images/memo1.txt
  book/images/memo2.txt
  book/images/memo3.txt
  book/images/memo4.txt
  book/images/memo5.txt
  book/images/memo6.txt
  book/images/memo7.txt
Owners: @LoliGothick

Fix typo
  chapters/hsjoihs/hsjoihs3.re
Owners: @hsjoihs

skurlavenija.mavija氏の反応をそのまま採用
  chapters/hsjoihs/hsjoihs6.re
Owners: @hsjoihs

CODEOWNERS:

# settings, build scripts
book/ @LoliGothick
build.sh @LoliGothick

# chapter authors
chapters/alwe/* @Alwe-logic
chapters/hsjoihs/* @hsjoihs
chapters/lugendre/* @Lugendre
chapters/mitama/* @LoliGOthick
chapters/wreulicke/* @wreulicke
chapters/yuche/* @syuche
