Repository LipersInSlums/dosukebe-book, changes with the owners that CODEOWNERS names for each.
All owners: @LoliGothick, @Alwe-logic, @hsjoihs, @Lugendre, @LoliGOthick, @wreulicke, @syuche

add: .gitignore
  .gitignore
Owners: none

review 4.0
  book/.gitignore
  book/Gemfile
  book/config.yml
  book/doc/format.ja.md
  book/doc/format.md
  book/doc/pdfmaker.ja.md
  book/doc/pdfmaker.md
  book/lib/tasks/review.rake
  book/sty/README.md
  book/sty/review-base.sty
  book/sty/review-jsbook.cls
  book/sty/review-style.sty
Owners: @LoliGothick

README: how to setup docker
  README.md
Owners: none

ci config
  .circleci/config.yml
Owners: none

update README
  README.md
Owners: none

section#1 C++メタプログラミングの夜明け
  book/catalog.yml
  chapters/mitama/dummy.re
  chapters/mitama/tmp-basics.re
Owners: @LoliGothick, @LoliGOthick

fix: the path to artifacts
  .circleci/config.yml
Owners: none

add test job
  .circleci/config.yml
  book/catalog.yml
  chapters/mitama/part4.re
  chapters/mitama/sfinae-awaken.re
  chapters/mitama/tmp-basics.re
Owners: @LoliGothick, @LoliGOthick

fix example codes
  chapters/mitama/tmp-basics.re
Owners: @LoliGOthick

sfinae awaken
  book/catalog.yml
  chapters/mitama/constexpr.re
  chapters/mitama/part4.re
  chapters/mitama/sfinae-awaken.re
  chapters/mitama/tmp-basics.re
Owners: @LoliGothick, @LoliGOthick

Fix typo
  README.md
Owners: none

rename dummy.re to ordinal_analysis.re
  chapters/alwe/ordinal_analysis.re
Owners: @Alwe-logic

use docker-compose for build
  README.md
  docker-compose.yml
Owners: none

ignore generated pdf from git
  .gitignore
Owners: none

variadic-templates
  chapters/mitama/constexpr.re
  chapters/mitama/sfinae-awaken.re
  chapters/mitama/variadic-templates.re
Owners: @LoliGOthick

type_list
  chapters/mitama/tmp-basics.re
  chapters/mitama/variadic-templates.re
Owners: @LoliGOthick

update README [執筆のルール]
  README.md
Owners: none

refactoring
  .circleci/config.yml
  book/catalog.yml
  chapters/mitama/constexpr.re
  chapters/mitama/sfinae-awaken.re
  chapters/mitama/tmp-basics.re
  chapters/mitama/variadic-templates.re
Owners: @LoliGothick, @LoliGOthick

first commit
  chapters/yuche/catalog.yml
  chapters/yuche/dummy.re
  chapters/yuche/intro.re
  chapters/yuche/outro.re
  chapters/yuche/yuche-cp1.re
  chapters/yuche/yuche-cp2.re
  chapters/yuche/yuche-cp3.re
  chapters/yuche/yuche-cp4.re
  chapters/yuche/yuche-cp5.re
Owners: @syuche

chapterに全部まとめる
  chapters/yuche/catalog.yml
  chapters/yuche/intro.re
  chapters/yuche/yuche-cp1.re
  chapters/yuche/yuche-cp2.re
  chapters/yuche/yuche-cp3.re
  chapters/yuche/yuche-cp4.re
  chapters/yuche/yuche-cp5.re
  chapters/yuche/yuche-cp6.re
  chapters/yuche/yuche-cp7.re
Owners: @syuche

ルートcatalog.yml更新
  book/catalog.yml
Owners: @LoliGothick

ファイル名修正
  book/catalog.yml
  chapters/yuche/catalog.yml
  chapters/yuche/yuche1.re
  chapters/yuche/yuche2.re
  chapters/yuche/yuche3.re
  chapters/yuche/yuche4.re
  chapters/yuche/yuche5.re
  chapters/yuche/yuche6.re
  chapters/yuche/yuche7.re
Owners: @LoliGothick, @syuche

調整
  chapters/yuche/yuche1.re
  chapters/yuche/yuche2.re
  chapters/yuche/yuche3.re
  chapters/yuche/yuche4.re
  chapters/yuche/yuche5.re
  chapters/yuche/yuche6.re
  chapters/yuche/yuche7.re
Owners: @syuche

ちょっと加筆
  chapters/yuche/yuche2.re
  chapters/yuche/yuche3.re
  chapters/yuche/yuche7.re
Owners: @syuche

タイポ修正
  chapters/yuche/yuche6.re
Owners: @syuche

done
  book/catalog.yml
  chapters/mitama/concepts.re
  chapters/mitama/conclusion.re
  chapters/mitama/variadic-templates.re
Owners: @LoliGothick, @LoliGOthick

レイアウト修正
  chapters/yuche/yuche1.re
  chapters/yuche/yuche2.re
  chapters/yuche/yuche3.re
  chapters/yuche/yuche4.re
  chapters/yuche/yuche5.re
  chapters/yuche/yuche6.re
  chapters/yuche/yuche7.re
Owners: @syuche

見出しレベル合わせる
  chapters/yuche/yuche7.re
Owners: @syuche

まが多い
  chapters/yuche/yuche1.re
Owners: @syuche

typo、表記揺れ修正
  chapters/yuche/yuche1.re
  chapters/yuche/yuche2.re
  chapters/yuche/yuche3.re
  chapters/yuche/yuche4.re
  chapters/yuche/yuche5.re
  chapters/yuche/yuche6.re
Owners: @syuche

参考文献を「最後に」に
  chapters/yuche/yuche7.re
Owners: @syuche

誤字修正
  chapters/yuche/yuche1.re
  chapters/yuche/yuche2.re
  chapters/yuche/yuche3.re
Owners: @syuche

Revert "レイアウト修正"
  chapters/yuche/yuche1.re
  chapters/yuche/yuche2.re
  chapters/yuche/yuche3.re
  chapters/yuche/yuche4.re
  chapters/yuche/yuche5.re
  chapters/yuche/yuche6.re
  chapters/yuche/yuche7.re
Owners: @syuche

赤熊
  chapters/mitama/constexpr.re
  chapters/mitama/tmp-basics.re
Owners: @LoliGOthick

いろいろ変更
  chapters/mitama/concepts.re
  chapters/mitama/conclusion.re
  chapters/mitama/constexpr.re
  chapters/mitama/sfinae-awaken.re
  chapters/mitama/tmp-basics.re
  chapters/mitama/variadic-templates.re
Owners: @LoliGOthick

直交性の話をだいぶ書き終わった
  book/images/Parallel.png
  book/images/Parallel1.png
  book/images/Parallel2.png
  book/images/RectYellow.png
  book/images/RectYellow1.png
  book/images/RectYellow2.png
  book/images/RectYellow3.png
  book/images/RectYellow4.png
  book/images/RectYellow5.png
  book/images/RectYellowRotate.png
  book/images/a.html
  chapters/hsjoihs/dummy.re
Owners: @LoliGothick, @hsjoihs

参考文献リストを真面目にする
  chapters/hsjoihs/dummy.re
Owners: @hsjoihs

微調整
  chapters/hsjoihs/dummy.re
Owners: @hsjoihs

漢数字に統一
  chapters/hsjoihs/dummy.re
Owners: @hsjoihs

分類を書く
  book/images/1YellowOrtho.png
  book/images/2Yellow1Blue.png
  book/images/2Yellow1Purple.png
  book/images/RandomTriangles.png
  book/images/Triangles.png
  book/images/a.html
  chapters/hsjoihs/dummy.re
Owners: @LoliGothick, @hsjoihs

CODEOWNERS:

# settings, build scripts
book/ @LoliGothick
build.sh @LoliGothick

# chapter authors
chapters/alwe/* @Alwe-logic
chapters/hsjoihs/* @hsjoihs
chapters/lugendre/* @Lugendre
chapters/mitama/* @LoliGOthick
chapters/wreulicke/* @wreulicke
chapters/yuche/* @syuche
